---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="diegomouraDev">
	<main>
	<h1>diegoMouraDev</h1>
	
	</main>
</Layout>

<style>

</style>
